{
  "format_version": "1.21.100",
  "minecraft:recipe_stonecutter": {
    "description": {
      "identifier": "{{ identifier }}"
    },
    "tags": ["stonecutter"],
    "ingredient": {
      "item": "{{ ingredient }}"
    },
    "result": {
      "item": "{{ result_item }}",
      "count": {{ count }}
    }
  }
}
