{
  "format_version": "1.21.100",
  "minecraft:recipe_shapeless": {
    "description": {
      "identifier": "{{ identifier }}"
    },
    "tags": ["crafting_table"],
    "ingredients": [
{%- for ingredient in ingredients %}
      {{ ingredient | tojson }}{% if not loop.last %},{% endif %}
{%- endfor %}
    ],
    "result": { "item": "{{ output_item }}", "count": 4 }
  }
}
