	{
	"format_version": "1.21.100",
	"minecraft:block": {
		"description": {
			"identifier": "utilitycraft:{{ name }}",
			"menu_category": {
				"category": "construction"
			}
		},
		"components": {
			"minecraft:geometry": "geometry.utilitycraft_block",
			"minecraft:material_instances": {
				"*": {
					"texture": "utilitycraft_{{ name }}",
					"render_method": "opaque"
				}
			},
			"minecraft:destructible_by_mining": {
				"seconds_to_destroy": {{ value }}
			},
			"tag:minecraft_is_pickaxe_item_destructible": {},
			"tag:stone": {}
		}
	}
}